* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    /*https://css-tricks.com/perfect-full-page-background-image/#awesome-easy-progressive-css3-way*/
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#time {
    text-align: center;
}

#top {
    display: flex;
    justify-content: space-between;
}

/*LINKS*/

.link-text {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0px 0px 10px #000000;
}

.link-text:hover {
    cursor: pointer;
}

.fa-up-right-from-square {
    font-size: 10px;
}