* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    /* src: https://css-tricks.com/perfect-full-page-background-image/#awesome-easy-progressive-css3-way*/
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #ffffff;
    text-shadow: 0px 0px 10px #000000;
}

main {
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#time {
    text-align: center;
}

#top {
    display: flex;
    justify-content: space-between;
}

/*CRYPTO*/

#crypto {
    display: flex;
    align-items: center;
}

#crypto-icon {
    margin-right: 5px;
}

/*WEATHER*/

#weather {
    display: flex;
    flex-direction: column;
}

#weather-icon {
    margin-right: 7px;
}

#weather-icon-temp {
    font-size: 2.5rem;
    display: flex;
}

/*TIME*/

#time {
    font-size: 12rem;
    font-weight: lighter;
}

/*LINKS*/

.link-text {
    color: #ffffff;
    text-decoration: none;
}

.link-text:hover {
    cursor: pointer;
}

.fa-up-right-from-square {
    font-size: 10px;
}

/*MEDIA QUERIES*/

@media (max-width: 550px) {

    main {
        padding: 20px;
        justify-content: space-evenly;
    }

    #time {
        font-size: 5rem;
    }

    #top {
        flex-direction: column;
        align-items: center;
    }

    #weather-icon-temp {
        justify-content: center;
        font-size: 5rem;
        font-weight: lighter;
    }

    #weather-location {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    #author-profile {
        text-align: center;
    }
}


@media only screen and (min-width: 550px) and (max-width: 992px) {

    main {
        padding: 20px;
        justify-content: space-evenly;
    }

    #time {
        font-size: 8rem;
    }

    #top {
        flex-direction: column;
        align-items: center;
        font-size: 1.25rem;
    }

    #weather-icon-temp {
        justify-content: center;
        font-size: 5rem;
        font-weight: lighter;
    }

    #weather-location {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    #author-profile {
        text-align: center;
    }

}